[submodule "themes/hugo-primer"]
	path = themes/hugo-primer
	url = https://github.com/qqhann/hugo-primer.git
[submodule "public"]
	path = public
	url = git@github.com:yusei-wy/yusei-wy.github.io.git
	branch = master
